version: '3'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../..:/workspaces:cached
    ports:
      - 3000:3000
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root_token
      VAULT_ROOT_CA_MOUNT: pki
      VAULT_ROOT_CA_REF: root-ca
      JWT_SIGNING_KEY: jwt_secret
      APP_REGISTRY_ADDR: http://app_registry:8800
      APP_REGISTRY_TOKEN: app_reg_token
    
  vault:
    image: hashicorp/vault:latest
    restart: unless-stopped
    ports:
      - 8200:8200
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root_token
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200

  app_registry:
    image: node:latest
    restart: unless-stopped
    ports:
      - 8800:8800
    volumes:
      - .:/data
    command: >
      sh -c "npm install -g json-server@0.17.4 &&
             json-server /data/app_reg_db.json --routes /data/app_reg_routes.json --port 8800 --host 0.0.0.0"

  redocly:
    image: redocly/cli
    volumes:
      - ../doc/openapi:/data:cached
    working_dir: /data
    command: "bundle openapi.yml --output openapi-bundled.yml"
